  .text-center {
    text-align: center;
    margin-top: 30px;
}

  .datatable-container {
    margin: 60px 100px; /* Adjust the margin as needed */
}
/* Responsive Styles */
@media (max-width: 768px) {

    .datatable-container {
      margin: 20px 5px !important; /* Adjust the margin as needed */
  }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkolivegreen;
    padding: 10px;
    color: white;
    text-align: center;
}

.logo-wrapper {
    display: flex;
    gap: 10px; /* Adjust the gap between logos as needed */
}

.social-icon {
    color: white;
    margin-right: 10px; /* Adjust the spacing between icons as needed */
    text-decoration: none; /* Remove default underline on anchor tags */
}

.social-icon:hover {
    color: #cccccc; /* Change the color on hover if desired */
}

.contact-info {
    margin: 0;
}

.phone-number,
.email-address {
    font-size: 14px; /* Adjust font size as needed */
    font-style: italic;
}

.social-media-container {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }

    .contact-info,
    .social-media-container {
        margin-top: 10px;
    }
}
